# .NET
**/bin/
**/obj/
**/out/
**/Debug/
**/Release/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET
**/appsettings.Development.json
**/appsettings.Production.json

# Visual Studio
.vs/
.vscode/
*.csproj.user

# Angular
client/node_modules/
client/dist/
client/tmp/
client/out-tsc/
client/*.log
client/.angular/
client/.env

# OS
.DS_Store
Thumbs.db